/* CSS RESET*/
*{
    margin: 0;
    padding: 0;
    font-family:Arial,helvetica;
}

div#container h1{
    color: blue;
    text-align: center;
}

div#container h2{
    color: green;
    text-align: center;
}